<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Pindaan</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h5 class="h3 mb-0">Semakan Permohonan Lesen</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label"
                  >Nama pemohon</label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label"
                  >Nombor IC pemohon</label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label"
                  >Nama syarikat</label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label"
                  >Jenis lesen yang dipohon</label
                >
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Sila pilih</option>
                  <option>PCO</option>
                  <option>PA</option>
                  <option>APA</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header bg-secondary">
                  <h5 class="h3 mb-0">Pindaan lesen</h5>
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                      <form>
                        <div class="form-group">
                          <label for="example-text-input" class="form-control-label"
                            >No rujukan</label
                          >
                          <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                          <label for="example-text-input" class="form-control-label"
                            >Nama pemohon</label
                          >
                          <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                          <label for="example-text-input" class="form-control-label"
                            >Pilih tarikh</label
                          >
                          <input
                            class="form-control"
                            type="date"
                            value="2018-11-23"
                            id="example-date-input"
                          />
                        </div>
                        <div class="form-group">
                          <label for="example-text-input" class="form-control-label"
                            >Jenis lesen</label
                          >
                          <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label"
                              >Alasan pindaan</label
                            >
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                      </form>
                    </div>
                    <div class="col-lg-6">
                      <form>
                        <div class="form-group">
                          <label for="example-text-input" class="form-control-label"
                            >No IC</label
                          >
                          <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                          <label for="example-text-input" class="form-control-label"
                            >Nama Kilang</label
                          >
                          <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                          <label for="example-text-input" class="form-control-label"
                            >Pilih tarikh</label
                          >
                          <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                          <label for="example-text-input" class="form-control-label"
                            >Bayaran permohonan</label
                          >
                          <input class="form-control" type="text" />
                        </div>
                      </form>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
